<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>
<div>
    <h3 th:text="'검색결과 : ' +${booksCount}"></h3>
</div>

<div class="card" th:each="book : ${books}"> <!-- th:each : div 영역에 대한 반복 -->

    <div>
        <h4>
            <a th:href="@{/search/libraries(isbn=${book.getIsbn()})}" th:text="${book.getTitle()}"></a>
        </h4>
        <p th:text="${book.getAuthors()}"></p>
        <p th:text="${book.getPublisher()}"></p>
        <p th:text="${book.getPublicationYear()}"></p>
        <p th:text="${book.getIsbn()}"></p>
    </div>
</div>
</body>
</html>